<h2>signup:</h2>
<div>
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" aria-placeholder="Email" type="text" id="email-create" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" aria-placeholder="password" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create!</button>
  </div>
</form>
<a href="./login.handlebars">Already have an account? Login Here.</a>
<script src="/public/js/signup.js"></script>
</div>